.banner_title {
    font-size: 1.3em;
    font-weight: 600;
    line-height: 2em;
}

.icon_title {
    font-size: 2em;
    font-weight: 600;
}

@media screen and (max-width: 897px){
    .h-navbar{
       width: 100%;margin-bottom: 0px;height: 3%;
        min-height: 35px;
    }
    .title-intro{
        font-size: 6px;
    }
    .p-h-l2-title{
        font-size: 14px;
    }
    .h-title-logo{
       height: 25px;margin-top: 5px;
    }
    .h-l2-logo{
        margin-top: 170%;
    }
    .title {
        font-size: 10px;
        line-height: 6px;
        bottom: 4px;
    }
    .pc-nav{
        display: none;
    }
    .title-user-b{
        margin-top: -10px;
    }
    .h-top{
        margin-top: 5%;
    }
    .h-l2-body{
        margin-left: 20px;
    }
    .h-title-4{
        font-weight: 600;
        font-size: 2em;
    }
    .h-pic-6{
        margin-top: 20px;
    }
    .review-block{
        margin: 20px 10px 10px 20px;height: 250px;line-height: 25px;
    }
    .h-l5-right{
        margin-top: 40px;
    }
    .footer-block{
        height: 500px;
    }
    .title-intro-out{
        margin-top: 5px;
    }
    .title-user-a{
        font-size: 8px;
    }
    .drop-menu{
        margin-left: -100px;
    }
    .title-underline{
        border-bottom: 1px solid #006EFF;
    }
    .v-b1-left{
        margin-top: 30px;
    }
    .vm-pic-right{
        width: 350px;
    }
    .vm-pic-left{
        width: 300px;
    }
    .vm-pic3{
        margin-top: 0px;
    }
    .h-row{
        background-color: #f0f0f0; width: 100%;height:500px;
    }
    .h-row-row{
        margin-top: 50px;
    }
    .vl-btn{
        display: block;
        text-decoration:none;
    }
}
@media (min-width: 897px) {
    .h-navbar{
       width: 100%;margin-bottom: 0px;height: 6%;
    }
    .title-intro{
        font-family: 'Microsoft YaHei', '宋体', 'Segoe UI', 'Lucida Grande', Helvetica, Arial, sans-serif, FreeSans, Arimo;

    }
    .ip-nav{
        display: none;
    }
    .h-title-logo{
       height: 45px;margin-top: 5px;
    }
    .h-l2-logo{
        margin-top: 80%;
    }
    .title-intro-out{
        margin-top: 20px;
    }
    .title {
        font-size: 1em;
    }
    .h-top{
        margin-top: 2%;
    }
    .h-title-4{
        font-weight: 600;font-size: 3em;
    }
    .review-block{
        margin: 20px 10px 10px 20px;height: 110px;line-height: 25px;
    }
    .footer-block{
        height: 450px;
    }
    .title-big{
        border-bottom: 2px solid #006EFF;
    }
    .v-b1-left{
        margin-top: 100px;
    }
    .vm-pic3{
        margin-top: -50px;
    }
    .vl-btn{
        text-decoration:none;
    }
    .h-row{
        background-color: #f0f0f0; width: 100%;height: 630px;
    }
    .h-row-row{
        margin-top: 150px;
    }
}
